@charset "UTF-8";
@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans CJK JP Regular"),
           url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
           url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
           url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans CJK JP Medium"),
           url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2) format('woff2'),
           url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff) format('woff'),
           url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 700;
	src: local("Noto Sans CJK JP Bold"),
           url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2) format('woff2'),
           url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff) format('woff'),
           url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf) format('opentype');
}

/* ===== RESET ===== */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

p {
	margin: 0;
}
/* ===== end - RESET ===== */


body {
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

/* ===== MODULES ===== */
.bg_white {
	background-color: white;
}

.bg {
	background: #901150;
}

.color_white {
	color: #fff;
}

.color01 {
	color: #d84036;
}

a {
	color: unset;
	cursor: pointer;
	-webkit-transition: ease-out .3s;
	transition: ease-out .3s;
}

a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
	opacity: 0.7;
	filter: alpha(opacity=7);
}

.link_txt:link, .link_txt:hover, .link_txt:active, .link_txt:visited {
	color: #2477C5;
	text-decoration: underline !important;
}

.f_normal {
	font-weight: normal;
}

.f_bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.block {
	display: block;
}

.in-block {
	display: inline-block;
	width: auto;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.wrap {
	overflow: hidden;
	height: auto;
}

.hide {
	display: none !important;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
	padding: 4px;
	border: 1px solid #c8c8c8;
	font-size: 100%;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #b2b2b2;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #b2b2b2;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
	color: #b2b2b2;
}

input[type="radio"] {
	margin-right: 4px;
	vertical-align: middle;
}

img {
	border: 0;
}

.img-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.img-responsive {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}

.img-square {
	position: relative;
	z-index: 2;
	display: block;
	overflow: hidden;
	width: 100%;
}

.img-square:before {
	display: block;
	padding: 75% 0 0;
	height: 0;
	content: "";
}

.img-square.sq2:before {
	padding: 66.6% 0 0;
}

.img-square img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.img-square img.oblong {
	width: 100%;
}

.img-square img.vertical {
	height: 100%;
}

.scroll-wrap {
	overflow-x: auto;
}

.scroll-wrap::-webkit-scrollbar {
	height: 10px;
}

.scroll-wrap::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #aaa;
}

.scroll-wrap::-webkit-scrollbar-track-piece {
	border-radius: 5px;
	background: white;
}

.tab, .sp {
	display: none;
}

.sp {
	display: none !important;
}

.pc, .pc.tab {
	display: block;
}

@media print, screen and (min-width: 768px) {
	.colWrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.colWrap.wrap {
		flex-wrap: wrap;
	}

	.colWrap.boxAlign-left {
		justify-content: flex-start;
	}

	.colWrap.boxAlign-right {
		justify-content: flex-end;
	}

	.colWrap.boxAlign-center {
		justify-content: center;
	}

	.colWrap.mdl > *,
	.colWrap > .mdl:not(.colWrap) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
	}

	.colWrap.mdl > * > *,
	.colWrap > .mdl:not(.colWrap) > * {
		width: 100%;
	}

	.colWrap.mdl.ct > *,
	.colWrap > .mdl.ct:not(.colWrap) {
		justify-content: center;
	}

	.colWrap.col4 {
		margin-left: -10px;
		margin-right: -10px;
	}

	.colWrap.col4 > * {
		margin: 0 10px 20px;
		width: calc(25% - 20px);
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td {
	padding: 10px 10px 8px;
	vertical-align: top;
	font-weight: normal;
	line-height: 1.8;
}

table th {
	width: 28%;
	text-align: left;
}


ul,
dl {
	margin: 0;
}

ul.list_disc li,
ol.list_disc li {
	margin: 0 0 0 1.5em;
	list-style-type: disc;
}

ul ul {
	margin: 0 1em;
}

dl dt, dl dd {
	font-weight: normal;
	line-height: 1.8;
}

dl.indent dd {
	margin-left: 1em;
}

dl dd {
	padding: 5px 0 25px;
}

dl dd:last-child {
	padding-bottom: 0;
}

.list_h {
	overflow: hidden;
	height: auto;
}

.list_h li, .list_h .li {
	float: left;
}

.mt0 {
	margin-top: 0px !important;
}

.mb0 {
	margin-bottom: 0px !important;
}

.ml0 {
	margin-left: 0px !important;
}

.mr0 {
	margin-right: 0px !important;
}

.pt0 {
	padding-top: 0px !important;
}

.pb0 {
	padding-bottom: 0px !important;
}

.pl0 {
	padding-left: 0px !important;
}

.pr0 {
	padding-right: 0px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.mr5 {
	margin-right: 5px !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pl5 {
	padding-left: 5px !important;
}

.pr5 {
	padding-right: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.mr15 {
	margin-right: 15px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.mt25 {
	margin-top: 25px !important;
}

.mb25 {
	margin-bottom: 25px !important;
}

.ml25 {
	margin-left: 25px !important;
}

.mr25 {
	margin-right: 25px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pb25 {
	padding-bottom: 25px !important;
}

.pl25 {
	padding-left: 25px !important;
}

.pr25 {
	padding-right: 25px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.mr30 {
	margin-right: 30px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.pr30 {
	padding-right: 30px !important;
}

.mt35 {
	margin-top: 35px !important;
}

.mb35 {
	margin-bottom: 35px !important;
}

.ml35 {
	margin-left: 35px !important;
}

.mr35 {
	margin-right: 35px !important;
}

.pt35 {
	padding-top: 35px !important;
}

.pb35 {
	padding-bottom: 35px !important;
}

.pl35 {
	padding-left: 35px !important;
}

.pr35 {
	padding-right: 35px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}

.ml40 {
	margin-left: 40px !important;
}

.mr40 {
	margin-right: 40px !important;
}

.pt40 {
	padding-top: 40px !important;
}

.pb40 {
	padding-bottom: 40px !important;
}

.pl40 {
	padding-left: 40px !important;
}

.pr40 {
	padding-right: 40px !important;
}

.mt45 {
	margin-top: 45px !important;
}

.mb45 {
	margin-bottom: 45px !important;
}

.ml45 {
	margin-left: 45px !important;
}

.mr45 {
	margin-right: 45px !important;
}

.pt45 {
	padding-top: 45px !important;
}

.pb45 {
	padding-bottom: 45px !important;
}

.pl45 {
	padding-left: 45px !important;
}

.pr45 {
	padding-right: 45px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.mr15 {
	margin-right: 15px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.mt25 {
	margin-top: 25px !important;
}

.mb25 {
	margin-bottom: 25px !important;
}

.ml25 {
	margin-left: 25px !important;
}

.mr25 {
	margin-right: 25px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pb25 {
	padding-bottom: 25px !important;
}

.pl25 {
	padding-left: 25px !important;
}

.pr25 {
	padding-right: 25px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.mr30 {
	margin-right: 30px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.pr30 {
	padding-right: 30px !important;
}

.mt35 {
	margin-top: 35px !important;
}

.mb35 {
	margin-bottom: 35px !important;
}

.ml35 {
	margin-left: 35px !important;
}

.mr35 {
	margin-right: 35px !important;
}

.pt35 {
	padding-top: 35px !important;
}

.pb35 {
	padding-bottom: 35px !important;
}

.pl35 {
	padding-left: 35px !important;
}

.pr35 {
	padding-right: 35px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}

.ml40 {
	margin-left: 40px !important;
}

.mr40 {
	margin-right: 40px !important;
}

.pt40 {
	padding-top: 40px !important;
}

.pb40 {
	padding-bottom: 40px !important;
}

.pl40 {
	padding-left: 40px !important;
}

.pr40 {
	padding-right: 40px !important;
}

.mt45 {
	margin-top: 45px !important;
}

.mb45 {
	margin-bottom: 45px !important;
}

.ml45 {
	margin-left: 45px !important;
}

.mr45 {
	margin-right: 45px !important;
}

.pt45 {
	padding-top: 45px !important;
}

.pb45 {
	padding-bottom: 45px !important;
}

.pl45 {
	padding-left: 45px !important;
}

.pr45 {
	padding-right: 45px !important;
}

.pt50 {
	padding-top: 50px !important;
}

.pb50 {
	padding-bottom: 50px !important;
}

.pl50 {
	padding-left: 50px !important;
}

.pr50 {
	padding-right: 50px !important;
}

.font_xs {
	font-size: 1.2rem !important;
}

.f_sans {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
}

.f_satisfy {
	font-family: 'Satisfy', sans-serif;
	font-weight: 400;
}


.f_raleway {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

/* animation */
.fadeIn0 {
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  transform: translate(0, 50px);
  -webkit-transition: all 1400ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1400ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1400ms cubic-bezier(0.23, 1, 0.32, 1);
  /* easeOutQuint */
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  /* easeOutQuint */
}

.fadeIn,
.fadeIn_delay {
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  transform: translate(0, 50px);
  -webkit-transition: all 1400ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1400ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1400ms cubic-bezier(0.23, 1, 0.32, 1);
  /* easeOutQuint */
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  /* easeOutQuint */
}

.fadeIn_delay {
  -webkit-transform: translate(0, 200px);
  -moz-transform: translate(0, 200px);
  -o-transform: translate(0, 200px);
  transform: translate(0, 200px);
}

.fadeIn0.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.fadeIn.active,
.fadeIn_delay.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.tel_link {
	color: #000;
}

.tel_link:hover {
	opacity: 1;
	cursor: text;
}

.commonTbl th,
.commonTbl td {
	padding: 20px 30px;
	border-top: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
}

.commonTbl th {
	background: #e0e3e8;
}

/* ===== end - MODULES =====*/

/* ===== COMMON STYLES ===== */
html {
	font-size: 62.5%;
}

body {
	background: #fff;
	color: #000;
	content: 'pc';
	font-size: 26px;
	font-size: 2.6rem;
	font-weight: 500;
	font-family: 'Noto Sans JP',"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'Open Sans', sans-serif;
	line-height: 1.8;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	position: relative;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
	max-width: 1340px;
	width: auto;
}

.container.visible {
	overflow: visible;
}

.container.full {
	max-width: 100%;
}

.content {
	position: relative;
	margin: 0 auto;
}

/* header */


/* pageTop */
.pageTop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 150;
	width: 30px;
}

.pageTop a {
	position: relative;
	display: block;
	overflow: hidden;
	margin: -15px auto 0;
	padding: 30px 0 0;
	width: 30px;
	height: 0;
	outline: none;
	border-top: 1px solid #c0c0c0;
	text-align: center;
	text-decoration: none;
}

.pageTop a:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -2px 0 0 -8px;
	width: 16px;
	height: 16px;
	border-top: 2px solid #c0c0c0;
	border-right: 2px solid #c0c0c0;
	transform: rotate(-45deg);
}


/* footer */
footer {
	overflow: hidden;
	padding: 20px 0;
	background: #000;
	color: #fff;
}

footer a:link, footer a:hover, footer a:visited {
	color: #fff;
}

footer .address {
	padding: 0;
	font-size: 21px;
	font-size: 2.1rem;
}

.section {
	overflow: hidden;
/*	padding: 5.3% 0; */
	padding: 100px 0;
}

.section.visible {
	overflow: visible;
}

.bg,
.section.bg {
	color: #fff;
}

.section.bg {
	padding: 65px 0;
}

h1,
h2,
h3,
h4,
h5 {
	clear: both;
	margin: 0;
	font-weight: bold;
}

.ttl {
	position: relative;
	overflow: hidden;
	margin: 0 auto 40px;
	padding: 0;
	font-size: 54px;
	font-size: 5.4rem;
	font-weight: 600;
	line-height: 1.3;
	color: #0B0000;
	text-align: center;
}

.bg .ttl {
	color: #fff;
}

.ttl.color {
	color: #901150;
}

.ttl.font_m {
	font-size: 50px;
	font-size: 5.0rem;
}

.ttl.font_m2 {
	font-size: 48px;
	font-size: 4.8rem;
}

.ttl.font_s {
	font-size: 42px;
	font-size: 4.2rem;
}

.ttl .sub,
.ttlWrap .sub {
	display: block;
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: 600;
}

.ttl.condensed {
	letter-spacing: -.04em;
}

.ttl .condensed1,
.ttl .condensed2 {
	display: inline-block;
	width: .5em;
}

.ttl .condensed1 {
	text-indent: -.5em;
}

.ttl.text-left {
	text-align: left;
}

.btn {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	padding: 17px 10px;
	max-width: 552px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	font-size: 3.0rem;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0;
	border-radius: 12px;
}

.btn:link, .btn:visited, .btn:hover {
	color: #fff;
	text-decoration: none;
}

.btn:hover {
	opacity: .5;
}

.btn.in-block {
	display: inline-block;
}

.btn00 {
	background: #000;
}

.btn01 {
	background: #3E73FF;
}

.btn02 {
	background: #E37D00;
}

.btn03 {
	background: #8E8E8E;
}

/* ***** .loginSection ***** */
.loginSection .container {
	position: static;
}

.loginSection .logoFrame {
	position: absolute;
	left: -10px;
	top: 50px;
}

.loginSection .logo img {
	display: block;
}

.loginSection .pc .btnFrame {
	overflow: hidden;
	height: auto;
/*	margin: 15px auto 40px; */
	margin: 1.923em auto 3.07em;
	max-width: 746px;
}

.loginSection .pc .btnFrame .btn {
	float: left;
	width: calc(50% - 20px);
}

.loginSection .pc .btnFrame .btn:last-child {
	float: right;
}

.loginSection .btn_inquiry {
	margin: 2.68em auto 0;
}

/* ***** introSection ***** */
.introSection .container {
	padding: 0;
}

.introSection .img {
	position: relative;
/*	margin: 0 auto -15px;
	max-width: 784px;
 */
	margin: 0 auto -30px;
	max-width: 1568px;
	z-index: 10;
}


.introSection .sub {
	overflow: hidden;
/*	margin: 0 auto 30px;
	width: 365px; */
	margin: 0 auto 1.153em;
	height: 0;
	padding: 42px 0 0;
	background: url(../images/intro_txt.png) no-repeat center 0;
	background-size: contain;
}


/* ***** guideSection ***** */
.guideSection {
	padding-top: 3%;
}

.guideSection .msg {
	position: relative;
	margin: 56px auto 0;
	padding: 0 0 46px;
	max-width: 1090px;
}

.guideSection .msg p {
	overflow: hidden;
	margin: 0 auto;
	width: 748px;
	height: 0;
	padding: 144px 0 0;
	background: url(../images/guide_msg.png) no-repeat center 0;
	background-size: contain;
	transform: translateX(36px);
	z-index: 1;
}

.guideSection .msg:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -47px;
	width: 188px;
	height: 230px;
	background: url(../images/guide01.png) no-repeat center 0;
	background-size: contain;
	z-index: 2;
}

.guideSection .msg:after {
	content: "";
	display: block;
	position: absolute;
	top: -142px;
	right: 0;
	width: 148px;
	height: 166px;
	background: url(../images/guide02.png) no-repeat center 0;
	background-size: contain;
	z-index: 3;
}


/* ***** aboutSection ***** */
.aboutSection .aboutBox {
	margin: 50px auto 70px;
	margin: 1.92em auto 2.69em;
	overflow: hidden;
	border: 3.2px solid #8F005A;
	border-radius: 55px;
	background: #f6e3ef;
	text-align: center;
}

.aboutSection .aboutBox .head {
	padding: 20px;
	font-size: 32px;
	background: #8F005A;
	color: #fff;
}

.aboutSection .aboutBox .img {
	padding: 2.3% 3.5% 4.6%;
}

/* ***** howtoSection ***** */
/* .howtoSection .imgFrame .img {
	position: relative;
}

.howtoSection .imgFrame .img:before {
	content: "";
	display: block;
	height: 0;
	padding: 45.714% 0 0;
}

.howtoSection .imgFrame .img img {
	position: absolute;
	top: 0;
	left: -30px;
	width: calc(100% + 52px);
}

.howtoSection .imgFrame p {
	margin: 1.538em 0 0;
}

@media print, screen and (min-width: 768px) {
	.howtoSection .imgFrame {
		width: 58.85%;
	}

	.howtoSection .qrFrame {
		width: 40.15%;
	}
} */
.howtoFrame {
	max-width: 800px;
	margin: 0 auto;
}
.youtubeFrame {
  position: relative;
  width: 100%;
	height: auto;
  padding-top: 56.25%;
}
.youtubeFrame iframe  {
	
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ***** presentSection ***** */
.presentSection .frame/*,
.presentSection .btnFrame */ {
	padding: 0 24.2% 0 13.8%;
}

.presentSection .frame {
	margin: 30px auto 0;
 	padding-bottom: 4.4%;
	background: url(../images/present_bg.png) no-repeat center 0;
	background-size: contain;
}

.presentSection .movieFrame {
	position: relative;
	width: 100%;
/*	min-height: 265px; */
}

.presentSection .movieFrame:before {
	content: "";
	display: block;
	position: absolute;
/*	left: 10px; */
	left: -14%;
	top: 25px;
	width: 114px;
	height: 84px;
	background: url(../images/present_5000.png) no-repeat center 0;
	background-size: contain;
	z-index: 2;
}

.presentSection .movieFrame .mv {
	position: relative;
	margin: 0 auto;
	padding: 36px 0 0;
}

.presentSection .movieFrame .mv div {
	position: relative;
	margin: 0;
	max-width: 396px;
	border: 4px solid #FF9E96;
	border-radius: 21px;
	box-shadow: inset 0 0 4px #000;
	background: #000;
}

.presentSection .movieFrame .mv div:before {
	content: "";
	display: block;
	width: auto;
	height: 0;
	padding: 49.872% 0 0;
}

.presentSection .movieFrame .mv div:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 12px;
	height: 60px;
	border-radius: 0 12px 12px 0;
	background: #000;
	transform: translateY(-50%);
	z-index: 1;
}

.presentSection .movieFrame .mv div iframe,
.presentSection .movieFrame .mv div video {
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	border-radius: 15px;
}

.presentSection .txt {
	margin: 0 0 20px;
	font-size: 28px;
}

.presentSection .btnFrame {
	margin: 0 auto;
	max-width: 966px;
}

.presentSection .btn {
	max-width: 100%;
}


/* ***** campaignSection ***** */
.campaignSection .ttlWrap {
	margin: 0 0 3.65em;
	padding: 1.1538em 0;
}

.campaignSection .campaignBox {
	position: relative;
	overflow: hidden;
	margin: 0 0 2.307em;
	background: #ebebeb;
}

.campaignSection .campaignBox:nth-child(even) {
	background: #F6E3F4;
}

.campaignSection .campaignBox:last-child {
	margin-bottom: 0;
}

.campaignSection .campaignBox .txt {
	padding: 30px 3%;
	width: 56.8%;
	font-size: 20px;
}

.campaignSection .campaignBox .head {
	margin: 0 0 .1em;
	line-height: 1.5;
	font-size: 27px;
}

.campaignSection .campaignBox .em {
	color: #DB0000;
}

.campaignSection .campaignBox .txt:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 30px;
	width: 43.2%;
	height: 100%;
}

.campaignSection .campaignBox.camp04 .txt:after {
	right: 0;
}

.campaignSection .camp01 .txt:after {
	background: url(../images/campaign01.png) no-repeat center 15%;
	background-size: 100% auto;
}

.campaignSection .camp02 .txt:after {
	background: url(../images/campaign02.png) no-repeat center 15%;
	background-size: 100% auto;
}

.campaignSection .camp03 .txt:after {
	background: url(../images/campaign03.png) no-repeat center 85%;
	background-size: 100% auto;
}

.campaignSection .camp04 .txt:after {
	background: url(../images/campaign04.png) no-repeat center center;
	background-size: 100% auto;
}

/* ***** inquirySection ***** */
.inquirySection .ttlWrap .sub {
	margin: 0 0 .5em;
	font-size: 26px;
}

.inquirySection .ttl {
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-size: 40px;
	border-bottom: 1px solid #fff;
}

.inquirySection .noteList {
	margin: 0 0 1.5em;
}

.inquirySection .noteList li {
	text-indent: -1em;
	padding-left: 1em;
}

.inquirySection .txt {
	margin: 1.8em 0 0;
}

.inquirySection .note {
	font-size: 24px;
}

.inquirySection .note.w-300 {
	font-weight: 300;
}

.inquirySection .btnFrame {
/*	margin: 35px auto 0; */
	margin: 2.68em auto 0;
}

.inquirySection .btnFrame .btn {
	max-width: 774px;
}

.inquirySection .btnFrame .note {
	margin: 10px auto 0;
	font-size: 24px;
	color: #000;
}


/* 幅1599px以下から
------------------------------------------------------------*/
@media only screen and (max-width: 1599px) {
	/* ***** .loginSection ***** */
	.loginSection .ttl.font_m {
		font-size: 3.13vw;
	}

	.loginSection .logoFrame {
		width: 29.7%;
	}

	.loginSection .logoFrame img {
		width: 100%;
		height: auto;
	}

	.loginSection .pc .btnFrame {
		width: 45%;
	}

	.loginSection .pc .btnFrame .btn {
		width: 48%;
		font-size: 28px;
		padding: 14px 10px;
	}
}

/* 幅1000px以下から
------------------------------------------------------------*/
@media only screen and (max-width: 1000px) {
	/* ***** .loginSection ***** */
	.loginSection {
		padding-top: 0;
	}

	.loginSection .pc {
		display: none !important;
	}

	.loginSection .sp {
		display: block !important;
	}

	.loginSection .sp-colWrap {
		display: flex;
		justify-content: space-between;
	}

	.loginSection .container {
		overflow: visible;
	}

	.loginSection .logoFrame {
		display: flex;
		position: relative;
		left: auto;
		top: auto;
		width: auto;
		height: auto;
		margin: 20px auto 0;
		max-width: 700px;
		justify-content: center;
	}

	.loginSection:before {
		content: "";
		display: block;
		position: absolute;
		left: -11px;
		top: 10px;
		max-width: 100%;
		width: 348px;
		height: 60px;
		background: url(../images/logotop.png) no-repeat 0 0;
		background-size: contain;
	}

	.loginSection .logoFrame .logo {
		width: 30%;
	}

	.loginSection .logoFrame .csvFrame {
		width: calc(70% - 30px);
	}

	.loginSection .logoFrame .logo img {
		margin: 0;
		width: auto;
		max-width: 180px;
	}

	.loginSection .csvFrame {
		display: block;
		position: relative;
		margin-top: 10px;
		margin-left: 30px;
		height: auto;
		color: #901150;
	}

	.loginSection .csvFrame:before,
	.loginSection .csvFrame:after {
		content: "";
		display: block;
		position: absolute;
		top: -20px;
		left: -30px;
		width: 35px;
		height: 35px;
		background: url(../images/csv_bg.png) no-repeat 0 0;
		z-index: 100;
	}

	.loginSection .csvFrame:after {
		content: "";
		display: block;
		position: absolute;
		top: auto;
		left: auto;
		bottom: -10px;
		right: -10px;
		width: 18px;
		height: 18px;
		background-position: right bottom;
		z-index: 100;
	}

	.loginSection .csvFrame .inner {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		background: #EFD5E4;
	}

	.loginSection .csvFrame p {
		position: absolute;
		padding: 10px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		line-height: 1.6;
	}

	.loginSection .csvFrame p span {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	.loginSection .csvFrame .inner:before,
	.loginSection .csvFrame .inner:after,
	.loginSection .csvFrame p:before,
	.loginSection .csvFrame p:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		background: #901150;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	.loginSection .csvFrame p:after{
		left: auto;
		right: 0;
		top: 0;
		transform: none;
		transform: translate(50%, -50%) rotate(45deg);
	}

	.loginSection .csvFrame .inner:before,
	.loginSection .csvFrame .inner:after {
		top: auto;
		bottom: 0;
		transform: 0;
		transform: translate(-50%, 50%) rotate(45deg);
	}

	.loginSection .csvFrame .inner:after {
		left: auto;
		right: 0;
		transform: 0;
		transform: translate(50%, 50%) rotate(45deg);
	}

	.loginSection .csvFrame p {
		width: 100%;
		font-size: 24px;
		line-height: 1.6;
	}

	.loginSection .csvFrame p br {
		display: none;
	}

	.loginSection .loginFrame,
	.loginSection .btn_inquiry {
		margin: 0 auto;
    		max-width: 700px;
	}

	.loginSection .btn_login {
		margin: 1.333em auto;
    		max-width: 100%;
	}

	.loginSection p {
		font-size: .85em;
	}

	.loginSection .asideBox {
		margin: 1.333em 0 0;
	}

	.loginSection .asideBox .btnBox {
		width: 32%; 
	}

	.loginSection .asideBox .btnBox .btn {
		font-size: 1em;
	}

	.loginSection .asideBox .txt {
		width: calc(68% - 20px);
	}

	.loginSection .asideBox .txt .note {
		color: #000;
	}

	.loginSection .btn_inquiry {
		margin: 1em auto 0;
	}
}


/* 幅991px以下から
------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	/* ===== MODULES (sp) ===== */
	img {
		max-width: 100%;
		height: auto;
	}

	.pc {
		display: none;
	}

	.tab, .tab.sp {
		display: block !important;
	}
}

/* 幅767px以下から
------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	/* ===== MODULES (sp) ===== */
	img {
		max-width: 100%;
		height: auto;
	}

	.pc, .tab, .pc.tab {
		display: none !important;
	}

	.sp {
		display: block !important;
	}

	input[type="text"].sp-max,
	input[type="tel"].sp-max,
	input[type="email"].sp-max,
	select.sp-max,
	textarea.sp-max {
		width: 100%;
	}


	/* ===== FLEX BOX ===== */
	.sp-colWrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.sp-colWrap.sp-col {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.sp-colWrap.sp-wrap {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.sp-colWrap.sp-col-rev {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	.sp-colWrap.sp-boxAlign-left {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.sp-colWrap.sp-boxAlign-right {
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}

	.sp-colWrap.sp-boxAlign-center {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.sp-colWrap.sp-mdl > *,
	.sp-colWrap > .sp-mdl:not(.sp-colWrap) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-line-pack: center;
		    align-content: center;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.sp-colWrap.sp-mdl.ct > *,
	.sp-colWrap.sp-mdl > .ct,
	.sp-colWrap > .sp-mdl.ct:not(.sp-colWrap) {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.sp-colWrap.sp-col2 > * {
		width: 50%;
	}

	.sp-colWrap.sp-col3 > * {
		width: 33.33%;
	}
	/* ===== end - FLEX BOX ===== */

	.sp-text-center {
		text-align: center !important;
	}

	.sp-text-left {
		text-align: left !important;
	}

	.sp-text-right {
		text-align: right !important;
	}
	/* ===== end - MODULES (sp) ===== */

	/* ===== COMMON STYLES ===== */
	body {
		clear: both;
		content: 'sp';
		font-size: 13px;
		font-size: 1.3rem;
	}

	/* header */

	.container {
		padding-right: 15px;
		padding-left: 15px;
	}

	/* footer */
	footer {
		padding: 30px 0;
	}

	footer .logo_btm {
		width: 106.5px;
		height: auto;
	}

	footer .address {
	    font-size: 11px;
	    font-size: 1.1rem;
	}

	/* pageTop */
	.pageTop {
		right: 10px;
		bottom: 10px;
	}

	.section {
		padding: 40px 0;
	}

	.section.bg {
		padding: 30px 0;
	}

	.ttl,
	.ttl.font_m,
	.ttl.font_m2,
	.ttl.font_s {
		margin: 0 auto 15px;
		font-size: 19px;
		font-size: 1.9rem;
		line-height: 1.8;
		letter-spacing: -0.08em;
	}

	.ttl .sub {
		font-size: 13px;
		font-size: 1.3rem;
	}

	.btn {
		padding: 9px 10px;
		font-size: 16px;
		font-size: 1.6rem;
		border-radius: 6px;
		max-width: 100%;
	}

	.section .btn00 {
		font-size: 18px;
	}


	/* ***** .loginSection ***** */
	.loginSection .logoFrame {
		margin: 50px auto 0;
	}

	.loginSection:before {
		left: -26px;
	}

	.loginSection .logoFrame .logo,
	.loginSection .logoFrame .csvFrame {
		width: 50%;
		max-width: 150px;
	}

	.loginSection .logoFrame .logo img {
		width: auto;
		max-width: 100%;
	}

	.loginSection .csvFrame p {
		font-size: 18px;
	}

	.loginSection .csvFrame p br {
		display: inline;
	}

	.loginSection .loginFrame,
	.loginSection .btn_inquiry {
		max-width: 345px;
	}

	.loginSection p {
		font-size: 11.5px;
	}

	/* ***** introSection ***** */
	.introSection .img {
		position: relative;
		margin: 0 auto -15px;
		max-width: 784px;
		z-index: 10;
	}


	.introSection .sub {
		margin: 0 auto 5px;
		width: 225px;
		padding: 14px 0 0;
	}


	/* ***** guideSection ***** */
	.guideSection .ttl {
		font-size: 17.5px;
	}

	.guideSection .ttl + p {
		margin: 0 auto;
		max-width: 345px;
	}

	.guideSection .msg {
		margin: 20px auto 0;
		padding: 0 0 52px;
		max-width: 345px;
	}

	.guideSection .msg p {
		width: 295px;
		padding: 57px 0 0;
		transform: translateX(28px);
	}

	.guideSection .msg:before {
		left: -5px;
		bottom: -17px;
		width: 73px;
		height: 91px;
	}

	.guideSection .msg:after {
		top: -80px;
		right: 10px;
		width: 67px;
		height: 76px;
	}


	/* ***** aboutSection ***** */
	.aboutSection .aboutBox {
		border-radius: 30px;
		border-width: 1px;
	}

	.aboutSection .aboutBox .head {
		padding: 5px;
		font-size: 16px;
	}

	.aboutSection .aboutBox .img {
		padding: 10px 5px;
	}

	/* ***** howtoSection ***** */
	.howtoSection  .imgFrame {
	/*	padding: 0 20px; */
	}

	.howtoSection .imgFrame .img:before {
		display: none;
	}

	.howtoSection .imgFrame .img img {
		position: static;
		width: auto;
	}


	/* ***** presentSection ***** */
	.presentSection .frame {
		margin: 0 auto;
	}

	.presentSection .movieFrame {
	}

	.presentSection .movieFrame .mv {
		padding-top: 8.5%;
		background: #fff;
	}

	.presentSection .movieFrame:before {
		top: 7%;
		width: 25%;
		height: 70px
		min-width: 62px;
		min-height: 45px;
	}

	.presentSection .txt {
		margin: 0 auto;
		justify-content: center;
		max-width: 420px;
		font-size: 13px;
	}

	.presentSection .txt p {
		width: 47%;
	}

	.presentSection .img {
		width: 53%;
		max-width: 210px;
	}

	.presentSection .btnFrame {
		margin: 30px auto 0;
		padding: 0;
	}

	/* ***** campaignSection ***** */
	.campaignSection {
		padding-bottom: 15px;
	}

	.campaignSection .container {
		padding: 0;
	}

	.campaignSection .ttlWrap,
	.campaignSection .campaignBox {
		margin-bottom: 15px;
	}

	.campaignSection .campaignBox .txt {
		padding: 15px 15px 0;
		width: auto;
		font-size: 13px;
	}

	.campaignSection .campaignBox .txt:after {
		display: none !important;
	}

	.campaignSection .campaignBox .txt .head {
		margin: 0 0 10px;
		font-size: 16px;
		letter-spacing: -0.02em;
	}

	.campaignSection .campaignBox .txt p {
		position: relative;
		padding: 0 50% 15px 0;
	}

	.campaignSection .campaignBox .txt p:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: calc(50% - 15px);
		height: 100%;
	}

	.campaignSection .camp01 .txt p:after {
		background: url(../images/campaign01_sp.png) no-repeat center 0;
		background-size: 100% auto;
	}

	.campaignSection .camp02 .txt p:after {
		background: url(../images/campaign02_sp.png) no-repeat center 0;
		background-size: 100% auto;
	}

	.campaignSection .camp03 .txt p:after {
		background: url(../images/campaign03_sp.png) no-repeat center 0;
		background-size: 100% auto;
	}

	.campaignSection .camp04 .txt p:after {
		background: url(../images/campaign04_sp.png) no-repeat center 0;
		background-size: 100% auto;
	}

	.campaignSection .camp04 .txt p {
		padding: 0;
	}


	.campaignSection .camp04 .txt p:after {
		position: relative;
		margin: 10px auto 0;
		max-width: 270px;
		height: 185px;
		width: auto;
	}

	/* ***** inquirySection ***** */
	.inquirySection .ttl {
		margin-bottom: 10px;
		padding-bottom: 10px;
		font-size: 20px;
	}

	.inquirySection .ttlWrap .sub {
	    font-size: 13px;
	}

	.inquirySection .note {
		font-size: 12px;
	}

	.inquirySection .btnFrame .note {
	    font-size: 15px;
	}
	.inquirySection .note.w-300 {
		font-weight: 500;
	}
}